.imgcont {
    width: max-content;
    height: max-content;
    margin: 0%;
    padding: 0%;
    /* display: inline; */
}

img {
    width: 15px;
    height: 15px;
    margin: 0px;
    padding: 0px;
}


#item {
    display: inline-block;
    width: 300px;
    margin: 0px;
}